In [1]:
import pandas as pd
import numpy as np

### Данные для задания: https://drive.google.com/file/d/1JY8l5nSu9O4GtMDpaOfH2Oowlpza3U-c/view?usp=sharing

In [2]:
data = pd.read_csv('BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [3]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [4]:
type(data)

pandas.core.frame.DataFrame

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [5]:
data['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [17]:
len(data[data['City_Category'] == 'A'][data['Gender'] == 'M'])

C:\Users\peter\AppData\Local\Temp/ipykernel_22368/3313701621.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(data[data['City_Category'] == 'A'][data['Gender'] == 'M'])

109831

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [22]:
len(data[data['Gender'] == 'F'][data['Age'] == '46-50'][data['Purchase'] > 20000])

C:\Users\peter\AppData\Local\Temp/ipykernel_22368/3385241999.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(data[data['Gender'] == 'F'][data['Age'] == '46-50'][data['Purchase'] > 20000])

270

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [26]:
data['Product_Category_3'].isna().astype(int).sum()

373299

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [31]:
females = len(data[data['Gender'] == 'F'][(data['Age'] == '36-45') | (data['Age'] == '46-50') | (data['Age'] == '51-55') | (data['Age'] == '55+')])
males = len(data[data['Gender'] == 'M'][data['Age'] == '26-35'])

(males + females)/len(data)

C:\Users\peter\AppData\Local\Temp/ipykernel_22368/2234663408.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  females = len(data[data['Gender'] == 'F'][(data['Age'] == '36-45') | (data['Age'] == '46-50') | (data['Age'] == '51-55') | (data['Age'] == '55+')])
C:\Users\peter\AppData\Local\Temp/ipykernel_22368/2234663408.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  males = len(data[data['Gender'] == 'M'][data['Age'] == '26-35'])

0.4077201963625676

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).